body {
    background-color: #F7FAFC;
    background-color: white;
}

.navbar-container {
    margin-top: 40px;
    margin-right: 127px;
}

.navbar-brand {
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.nav-item {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.hero {
    margin-top: 110px;
}

.hero h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #4C4C4C;
}

.hero p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #797979;
    line-height: normal;
}

.newsletter {
    margin-top: 150px;
    font-family: 'Montserrat', sans-serif;
}

.newsletter h4 {
    color: #4C4C4C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.newsletter p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #797979;
    line-height: normal;
}

input.my-narrow-input {
    max-width: 1000px;
}

footer {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
